@model IEnumerable<BazarStore.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="d-none loader-div text-center">
    <p class="lead">Please wait while data is loading...</p>
    <img src="~/Images/brown_rolling_spinner.gif" />
</div>

<div class="all-products-table">
    @Html.Partial("_GetProductsPartial", Model)
</div>

@section Scripts {

    <script>

        $(function () {

            /*Loading All Products via Ajax*/

            $(".search-btn").on("click", function (e) {
                e.preventDefault();

                var url = "Product/GetProductsPartial";
                var searchText = $(".search-txt").val();

                $.get(url, { searchText: searchText }, function (data) {
                    $(".all-products-table").html("");
                    $(".loader-div").removeClass("d-none");
                    $(".loader-div").addClass("d-block");
                    setTimeout(function () {
                        $(".all-products-table").html(data);
                        $(".loader-div").removeClass("d-block");
                        $(".loader-div").addClass("d-none");
                    }, 2000);
                });

            });

        });

    </script>
}
