@model BazarStore.Product

@{
    ViewBag.Title = ViewBag.slug;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @Html.Partial("_GetProductDetailsPartial", Model)
</div>


